.FlightView {
  padding: 10px;
  background: #0d0f14;
  min-height: 100dvh;
  color: #e5e7eb;

  h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #F5D409;
  }
}

.seat_plane {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ROW */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BLOCKS */
.blockWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block {
  display: flex;
  gap: 6px;
}

/* aisle numbers */
.rowNumber {
  font-size: 10px;
  color: #6b7280;
  min-width: 20px;
  text-align: center;
}

/* SEATS */
.seat {
  width: 30px;
  height: 40px;
  border-radius: 8px;

  background: #1a1f2b;
  border: 1px solid #2a2f3a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.seat:hover {
  transform: scale(1.1);
  border-color: #F5D409;
}

.seatLabel {
  font-size: 9px;
  color: #6b7280;
}

/* YOUR SEAT */
.seat.me {
  background: #F5D409;
  color: #111;
  border-color: #F5D409;
  box-shadow: 0 0 12px rgba(245, 212, 9, 0.6);
  transform: scale(1.15);
}

/* NEARBY */
.seat.near {
  background: rgba(245, 212, 9, 0.12);
  border-color: rgba(245, 212, 9, 0.4);
}